/******= GOOBLE FONTS =*******/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

:root{
    /**=#### COLORS ####=**/
    --header-height: 3.5rem;
    --first-color:hsl(299, 82%, 47%);
    --first-color-lighten:hsl(210, 96%, 55%); 
    --title-color:hsl(0, 0%, 100%);
    --text-color:hsl(0, 0%, 90%);
    --body-color:rgba(51, 51, 255, 0.685);

    /***####= FONT AND TYPOGRAPHY =####***/
    --body-font:'Nunito Sans', sans-serif;
    --normal-font-size:.935rem;
    --small-font-size: .815rem ;
    --smaller-font-size: .80rem;
    
    /**####= FONT WEIGHT =####**/

    --font-medium:500 ;
    --font-semi-bold: 600;
}

/***####= RESPONSIVE TYPOGRAPHY =####*/
@media screen  and (min-width: 768px) {
    :root{
        --normal-font-size: ;
        --small-font-size: ;
        --smaller-font-size: ;
    }
    
}
/*********** BASE *********/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/*********** REUSABLE CSS *********/
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
/*********** HEADER *********/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, .1);
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}
/*********** NAV *********/

.nav{
    height: var(--header-height);

}
.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transform: color .3s;
}

.nav__logo{
    font-size: 1.25rem;
}
.nav__logo:hover{
    color: var(--first-color);
}
.nav__toggle{
    position: relative;
    width: 32px;
    height: 32px;
}
.nav__toggle-menu,
.nav__toggle-close{
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}
.nav__toggle-close{
    opacity: 0;
}
/*********** NAVEIGATION FOR MOBILE DEVICES *********/
@media screen and (max-width: 1120px) {
    .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar-thumb{
        width: .5rem;
    }
    .nav__menu::-webkit-scrollbar-thumb{
        background-color: hsl(222, 100%, 50%);
    }
}
.nav__link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-items: center;
    transition: background-color .3s ;
}
.nav__link:hover{
    background-color: var(--first-color-lighten);
}
/*********** SHOW MENU *********/
.show-menu{
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}
/*********** SHOW ICON *********/
.show-icon .nav__toggle-menu{
opacity: 0;
transform: rotate(90deg);
}
.show-icon .nav__toggle-close{
opacity: 1;
transform: rotate(90deg);
}
/*********** DROPDOWN *********/
.dropdown__button{
    cursor: pointer;
}
.dropdown__arrow{
    font-size: 1.5rem;
    font-weight:initial;
    transition: transform .4s ;
}
.dropdown__content, .dropdown__group, .dropdown__list{
    display: grid;
} 
.dropdown__container{
    background-color:var(--first-color-lighten);
    height: 0;
    overflow: hidden;
    transition: height .4s;
}
.dropdown__content{
    row-gap: 1.75rem;
}
.dropdown__group{
    padding-left: 2.5rem;
    row-gap: .5rem;
}
.dropdown__group:first-child{
    margin-top: 1.25rem;
}
.dropdown__group:last-child{
    margin-bottom:1.25rem;
} 
.dropdown__title{
    font-size:var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.dropdown__list{
    row-gap: .25rem;
}
.dropdown__link{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    transition: color .3s;
}
.dropdown__link:hover{
    color: var(--text-color);
}

/*********** ROTATE DROPDOWN ICON  *********/ 
.show-dropdown .dropdown__arrow{
    transform: rotate(180deg);
}
/*********** ====BREAKPOINTS==== *********/

/******* FOR SMALL DEVICES *********/

@media screen and (max-width: 1120px) {
.dropdown__group{
    padding: 1.5rem;
    }
}

/****** FOR LARGE DEVICES *********/
@media screen and (min-width:1120px){
    /* NAV */
    .nav{
        height:calc(var(--header-height) + 2rem);
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__toggle{
        display:none;
    }
    .nav__list{
        display:flex;
        column-gap: 3rem;
        height: 100%;
    }
    .nav li{
        display:flex;
    }
    .nav__link{
        padding: 0;
    }
    .nav__link:hover{
        background-color: initial;
    }
    /* Dropdown*/
    .dropdown__button{
        column-gap: .25rem;
        pointer-events: none;
    }
    .dropdown__container{
        height: max-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 6.5rem;
        background-color: var(--body-color);
        box-shadow: 0 6px 8px hsla(220, 69%, 12%, .05);
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
    .dropdown__content{
        grid-template-columns: repeat(4, max-content);
        column-gap: 6rem;
        max-width: 1120px;
        margin-inline: auto;
    }
    .dropdown__group{
        padding: 4rem 0;
        align-content: baseline;
        row-gap: 1.25rem;
    }
    .dropdown__group:first-child,
    .dropdown__group:last-child{
        margin: 0;
    }

    .dropdown__list{
        row-gap: .75rem;
    }
    .dropdown__icon{
        width: 60px;
        height: 60px;
        background-color: var(--first-color-lighten);
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom:1rem;
    }
    .dropdown__icon i{
        font-size: 2rem;
    }
    .dropdown__title{
        font-size: var(--normal-font-size);
    }
    .dropdown__link{
        font-size: var(--small-font-size);
    }
    .dropdown__link:hover{
        color: var(--normal-color);
    }
    .dropdown__item{
        cursor: pointer;
    }

    /* Rotate Dropdown icon */
    .dropdown__item:hover .dropdown__arrow{
        transform: rotate(180deg);
    }
    /* Show dropdown menu */
    .dropdown__item:hover > .dropdown__container{
        top: 5.5rem;
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
    }
}

@media screen and (min-width:1152) {
    .container{
        margin-inline: auto;
    }
    
}